#node_modules
node_modules

#DS Store
.DS_Store

#docker files
Dockerfile
docker-compose.yml

#config
config/

#data seed csv's
database/guests.csv
database/rooms.csv
database/mysqldb/
database/cassandraDB/
database/mongoDB/
database/nights.csv

#log file
logfile

#vs code
.vscode/

#New Relic
server/newrelic_agent.log
newrelic.js

#Artillery
server/artillery.yml
